@font-face {
    font-family: CustomFont;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

.wrapper{

    margin-left:auto;
    margin-right:auto;
    width:1500px;
    
}

body{
    font-family: CustomFont;
    background: linear-gradient(
        to right,
        white 0%,
        white 50%,
        rgb(83, 6, 207) 50%,
        rgb(83, 6, 207) 100%
    );
    
    font-size: 22px;
    color: gray;
}


.userinputs{
    font-size: 50px;
}