@font-face {
    font-family: CustomFont;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

.wrapper{

    margin-left:auto;
    margin-right:auto;
    width:1500px;
    
}

body{
    font-family: CustomFont;
    background: linear-gradient(
        to bottom,
        rgba(235, 234, 231, 0.479) 0%,
        rgba(235, 234, 231, 0.479) 30%,
        white 30%,
        white 90%,
        rgba(235, 234, 231, 0.479) 90%,
        rgba(235, 234, 231, 0.479) 100%
    );
    
    font-size: 22px;
    color: gray;
}

a{
    text-decoration: none;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

h2{
    font-size: 40px;
    font-weight: bolder;
}

.header{
    width: 1500px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    color: black;
}

.ratings{
    color: black;
}

.right_header{
    margin-top: -58px;
}


.body1{
    position: relative;
    margin-top: 200px;
}

.lb1{
    float: left;
    width: 700px;
    word-wrap: normal;

}


.rb1{
    margin-top: -150px;
    float: right;
    height: 680px;
    width: 680px;

}


.body2{
    margin-top: 850px;
    position: relative;
    width: 50%;
    word-wrap: normal;
}

.centerbody2{
    background-color: rgb(83, 6, 207);
    height: 520px;
    padding: 100px;
    padding-bottom: 0px;
    margin-top: 100px;
    border-radius: 20px;
    width: 174%;
    color: white;
}

.cb2l{
    float: left;
    word-wrap: normal;
    width: 500px;
}

.cb2r{
    float: right;
    width: 700px;
    height: 800px;
    margin: 0px;
}

.card {
    height: 300px;
    width: 400px;
    padding: 50px;
    margin-right: 55px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    color: black;
}

.portfolios {
    width: 200%;
    height: 500px;
    position: absolute;
    top: 133%;
    left: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.inner-port {
    width: 150%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.cardlink{
    text-align: center;
    padding: 20px;
    margin-top: 40px; 
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(83, 6, 207);
}

span{
    color: rgb(83, 6, 207);
    font-weight: bold;
    display: inline-block;
}

.footer{
    margin-top: 700px;
}

.left_footer{
    float: left;
    width: 37%;
    word-wrap: normal;
    margin-top: 21px;
}

.right_footer{
    float: right;
    width: 50%;
}
